[Oo]bj/
[Ob]in/

!/vendor/bin/

#### Intermediate project types

# Visual Studio
ipch/
*.sln
*.vcxproj
*.vcxproj.filters
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
.vs/*
*.psess
*.vsp
*.vspx
*.sap
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.vscode/

# Xcode
*.xcodeproj/
*.xcworkspace/
DerivedData/

# Gmake
Makefile
*.make

# Rust intermediates
target/

# Fucking macs
.DS_Store

